@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-dark-blue: #001c30;
  --primary-medium-blue: #176b87;
  --primary-light-blue: #64ccc5;
  --primary-lightest-blue: #dafffb;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--primary-lightest-blue);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto;
}
